 
<!-- //<label>
   
    Enter Email:
   
    <input type="text" [formControl]="email">
</label>

<p>
    Display Value: {{ email.value }}
</p>

<p>
    <button (click)="updateEmail()">Click to Update Email</button>
</p> -->

<!-- <form [formGroup]="userregisterForm" (ngSubmit)="onSubmit()">
                <label>
                    First Name:
                        <input type="text" formControlName="firstName">
                </label>

                <label>
                    Last Name:
                    <input type="text" formControlName="lastName">
                </label>

                <label>
                    Email:
                    <input type="text" formControlName="email">
                </label>

                <label>
                    Password:
                    <input type="text" formControlName="password">
               </label>

               <button type="submit"[disabled]="!userregisterForm.valid">Submit</button>

</form> -->
<app-nav-bar></app-nav-bar>                                                                                   
<router-outlet></router-outlet>
