 <div class="medium-list">
    <div class="list-viewer-wrapper">
      <div class="list-header-title">Forgot Password ?</div>
        <form [formGroup]="forgotpasswordForm" (ngSubmit)="forgotpasswordForm.valid && onForgotpasswordSubmit()" novalidate>
            <div class="form-container">
                <mat-form-field>
                    <input id="email"
                        matInput
                        formControlName="email" required placeholder="Ex. pat@example.com"
                        [(ngModel)]="user.email">
                        <mat-label>Please Enter Your Email</mat-label>
                        <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
        
         <button mat-button type="submit" class="mat-raised-button mat-primary" [disabled]="!forgotpasswordForm.valid" (click)="Submit()">Submit</button> 
            </form>
                    </div>                                
                </form>
            </div>
        </div>



       