 <div class="medium-list" >
    <div class="list-viewer-wrapper">
      <div class="list-header-title">Register</div>

        <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onRegisterSubmit()" novalidate>
            <div class="form-container">
                <mat-form-field>
                    <input id="UserName"
                        matInput
                        formControlName="name" required
                        [(ngModel)]="user.name"
                        placeholder="Enter your Username" />
                        <mat-icon matSuffix>username</mat-icon>
                </mat-form-field>
    
                     <mat-form-field>
                            <input id="email"
                                matInput
                                formControlName="email" required placeholder="Ex. pat@example.com"
                                [(ngModel)]="user.email">
                                <mat-label>Enter your email</mat-label>
                                <mat-icon matSuffix>email</mat-icon>
                     </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Contact No</mat-label>
                        <span matPrefix>+91 &nbsp;</span>
                        <input type="tel" matInput placeholder="555-555-1234">
                        <mat-icon matSuffix>phone</mat-icon>
                      </mat-form-field>

                     <mat-form-field>
                        <input id="password" 
                        matInput 
                        formControlName="password" required
                        [(ngModel)]="user.password"
                        placeholder="Enter your password"
                        [type]="hide ? 'password' : 'text'">
                        <mat-icon matSuffix>vpn_key</mat-icon>
                    </mat-form-field>

                    <mat-radio-group aria-label="Select an option">
                        <label class="example-margin">Gender:</label>
                        <mat-radio-button value="male">Male</mat-radio-button>
                        <mat-radio-button value="female">Female</mat-radio-button>
                        <mat-radio-button value="other">Other</mat-radio-button>
                    </mat-radio-group>
                    
                        <button mat-button type="submit" class="mat-raised-button mat-primary" [disabled]="!registerForm.valid">Sign Up</button>
                        <button mat-button routerLink="/login" class="divider">Login</button>
                    </div>
                
                       <a routerLink="/login" class="text-center">Login Here</a>                
                </form>
            </div>
        </div>
        
        